*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: none
}

body{
    background-color: #250C30;
}

.Container-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    font-family: "Jost", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: #210B2B;
}

.logo{
    height: 74px;
    width: 63px;
    cursor: pointer;
}

.burguer_menu{
    display: none;
}

.burguer_menu img{
    height: 54px;
    width: 43px;
    cursor: pointer;
}

.navegacion span{
    display: none;
    font-size: 2.2em;
    color: #FF911C;
    margin-left: 100%;
    cursor: pointer;
}

.navegacion a{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-left: 40px;
    color: #FF911C;
}

.navegacion img{
    height: 74px;
    width: 63px;
    cursor: pointer;
}

.navegacion a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #FF911C;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navegacion a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.Banner-Principal{
    height: 100vh;
    width: 100%;
}

.Welcome-Text{
    font-family: "Jost", sans-serif;
    color: #FFFF;
    text-align: center;
    margin: 30px 10% 5px;
}

.Welcome-Text h2{
    font-weight: 600;
    font-size: 2.3em;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.Welcome-Text p{
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 2em;
}

.Container-Cards{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10%;
    padding: 0 5%;
}

.card-1,
.card-3{
    position: relative;
    width: 25%;
    height: 60%;
    border-radius: 25px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .3);
}

.card-2{
    position: relative;
    width: 30%;
    height: 70%;
    border-radius: 25px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .3);
}

.content-1,
.content-3{
    width: 100%;
    height: 100%;
}

.content-2{
    width: 100%;
    height: 100%;
}

.content-1 img,
.content-3 img{
    width: 100%;
    height: 100%;
}

.content-2 img{
    width: 100%;
    height: 100%;
}

.card-1-h,
.card-3-h{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 30, 12, .6);
    border-radius: 9.3%;
    color: white;
    text-align: center;
    padding: 55% 8%;
    transition: all 0.7s ease;
    cursor: pointer;
}

.card-2-h{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 30, 12, .6);
    border-radius: 9.3%;
    color: white;
    text-align: center;
    padding: 55% 8%;
    transition: all 0.7s ease;
    cursor: pointer;
}

.card-1-h h2,
.card-3-h h2{
    font-family: "Jost", sans-serif;
    align-items: center;
    font-weight: 600;
    font-size: 130%;
    margin-bottom: 10px;
}


.card-2-h h2{
    font-family: "Jost", sans-serif;
    font-weight: 600;
    font-size: 135%;
    margin-bottom: 10px;
}

.card-1-h p,
.card-3-h p{
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 95%;
}

.card-2-h p{
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 105%;
}

.card-1:hover .card-1-h,
.card-3:hover .card-3-h{
    opacity: 1;
}

.card-2:hover .card-2-h{
    opacity: 1;
}

.AU{
    font-family: "IM Fell Double Pica SC", serif;
    font-weight: 400;
    text-align: center;
    color: #FFFF;
    font-size: 4em;
    margin-bottom: 1.1em;
    margin-top: 1.1em;
}

.app-use-container{
    width: 100%;
    height: 50vh; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 3.5%;
    padding-right: 2%;
}

.app1,
.app2,
.app3,
.app4,
.app5,
.app6,
.app7,
.app8,
.app9{
    display: flex;
}

.app1 img,
.app2 img,
.app3 img,
.app4 img,
.app5 img,
.app6 img,
.app7 img,
.app8 img,
.app9 img{
    width: 80px;
    height: 80px;
}

.app1 h3,
.app2 h3,
.app3 h3,
.app4 h3,
.app5 h3,
.app6 h3,
.app7 h3,
.app8 h3,
.app9 h3{

    font-family: "IM Fell Double Pica SC", serif;
    font-weight: 400;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6),
                 0 0 20px rgba(255, 255, 255, 0.4),
                 0 0 30px rgba(255, 255, 255, 0.2);
}

.app1 p,
.app2 p,
.app3 p,
.app4 p,
.app5 p,
.app6 p,
.app7 p,
.app8 p,
.app9 p{
    font-family: "Jost", sans-serif;
    font-weight: 300;
    color: white;
}

.text-au{
    text-align: left;
    padding: 5px 15px;
}

.app1 h3,
.app2 h3,
.app3 h3,
.app5 h3,
.app6 h3,
.app8 h3,
.app9 h3{
    margin-bottom: 8px;
}

footer {
    background-color: #210B2B;
    color: #ffffff;
    padding: 40px 20px;
    font-family: 'Jost', sans-serif;
}

.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    margin-bottom: 20px;
    text-align: center;
}

.footer-logo img {
    max-width: 150px;
}

.footer-links, .footer-subscribe {
    text-align: center;
    margin-bottom: 20px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 300px; /* Ajusta este valor según sea necesario */
}

.footer-links h3, .footer-subscribe h3 {
    margin-bottom: 10px;
}

.footer-links li {
    width: 48%; /* Esto hará que los elementos ocupen aproximadamente la mitad del ancho */
    margin-bottom: 8px;
}

.footer-links a {
    text-decoration: none;
    color: #ffffff;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-subscribe input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
}

.subscribe-button {
    background-color: #FF781F;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.subscribe-button:hover {
    background-color: #e8680c;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    border-top: 1px solid hsl(0, 0%, 100%);
    padding-top: 20px;
}

.footer-social {
    margin-bottom: 20px;
}

.footer-social a {
    color: #ffffff;
    margin-right: 20px;
    font-size: 20px;
}

.footer-legal {
    text-align: center;
    margin-top: 10px;
}

.footer-legal a {
    color: #fafafa;
    margin-left: 20px;
    text-decoration: none;
}

.footer-legal a:hover {
    text-decoration: underline;
}

.footer-legal p {
    margin-top: 10px;
    font-size: 14px;
}

@media (min-width: 768px) {
    .footer-top {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer-logo, .footer-links, .footer-subscribe {
        text-align: left;
    }

    .footer-subscribe {
        max-width: 300px;
    }

    .footer-bottom {
        flex-direction: row;
        justify-content: space-between;
    }


}

@media screen and (max-width: 768px){

    .burguer_menu,
    .navegacion span{
        display: block;
    }


    .navegacion{
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100vh;
        top: 0;
        right: 0;
        bottom: 0;
        align-items: center;
        background-color: #210B2B;
        padding: .5em 3.5em;
        gap: 3.8em;
        overflow: hidden;
        transform: translateX(100%); 
        transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }

    .navegacion.visible{
        transform: translateX(0);
        transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .4);
    }

    /*.Container-Cards{
        flex-direction: column;
        overflow: hidden;
        height: auto;
        gap: 5;
    }  
    Posible Alineación responsive para las tarjetas del index*/

    .card-1-h h2,
    .card-3-h h2{
        font-size: 100%;
    }
    

    .card-2-h h2{
        font-size: 110%;
    }

    .card-1-h p,
    .card-3-h p{
        font-size: 60%;
    }

    .card-2-h p{ 
        font-size: 75%;
    } 

    .app-use-container{
        height: auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 30px;
        margin-bottom: 3%;
        overflow: hidden;
    }



}



